.report-box label {
  font-size: 0.9rem;
  color: var(--blue);
  display: block;
  margin-bottom: 0.3rem;
}

.report-box select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.report-content {
  gap: 0.1rem;
  margin-bottom: 1rem;
  padding:1rem;
}

.report-content p {
  background: var(--blue-light);
  border-radius: 6px;
  text-align: center;
  font-size: 0.2px;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.actions button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  background: var(--blue);
  color: white;
  border: none;
  cursor: pointer;
}

.actions button:hover {
  background: #357ABD;
}

.actions span {
  font-size: 0.85rem;
  color: green;
  align-self: center;
}
