.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: white;
  font-family: var(--font-body);
}

.navbar-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.nav-title {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: var(--font-title);
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  transition: all 0.3s ease;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s ease;
  position: relative;
  font-family: var(--font-body);
}

.navbar-links a:hover {
  color: var(--yellow);
}

.mobile-menu,
.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notif-wrapper {
  position: relative;
}

.notif-badge {
  background-color: var(--red);
  color: white;
  border-radius: 999px;
  padding: 0 6px;
  font-size: 0.8rem;
  margin-left: 5px;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .menu-toggle {
    display: block;
    margin-left: 6rem; 
  }

  .navbar-links {
    display: none !important;
  }

  .mobile-menu {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue-light);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
    z-index: 1000;
    overflow-y: auto;
  }

  .mobile-menu.open {
    display: flex;
  }

  .mobile-menu li {
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 1.2rem;
    width: 100%;
  }

  .mobile-menu a {
    font-size: 1.1rem;
    color: var(--blue);
    font-weight: 600;
    text-decoration: none;
  }

  .mobile-menu a:hover {
    color: var(--yellow);
  }
}

@media (min-width: 769px) {
  .navbar-links {
    display: flex !important;
  }
}